@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(CormorantGaramond-400-normal.woff2) format('woff2');
  
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(CormorantGaramond-500-normal.woff2) format('woff2');
  
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(CormorantGaramond-600-normal.woff2) format('woff2');
  
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(CormorantGaramond-700-normal.woff2) format('woff2');
  
}